* {
    /* Colors are defined in dark.css, light.css etc*/

    -fx-focus-color: -fx-color-highlight
}

.text {
    -fx-fill: -fx-color-text;
}

.root {
    -fx-background-color: -fx-color-background;
}

.pane {
    -fx-background-color: -fx-color-background;
}

.split-pane {
    -fx-padding: 0;
}

.split-pane > * {
    -fx-background-color: -fx-color-background;
}

.button, .choice-box {
    -fx-background-color: -fx-color-widget;
}

.toggle-button:selected {
    -fx-background-color: -fx-color-background;
}

.toggle-button {
    -fx-background-color: -fx-color-widget;
}

.text-field {
    -fx-background-color: -fx-color-input;
    -fx-text-fill: -fx-color-text;
    -fx-prompt-text-fill: #646464;
}

.choice-box .arrow {
    -fx-fill: -fx-color-text;
}

.choice-box .context-menu {
    -fx-background-color: -fx-color-background;
}

.list-view {
    -fx-background-color: -fx-color-input;
}

.list-view .list-cell {
    -fx-background-color: -fx-color-input;
    -fx-focus-color: -fx-color-highlight;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-color-widget;
}

.separator {
    -fx-background-color: #1F1F1F;
}

.separator > .line {
    visibility: invisible;
}

.menu-bar {
    -fx-background-color: #242424;
    -fx-padding: 0;
}

.menu .context-menu {
    -fx-padding: 0;
    -fx-background-color: -fx-color-input;
}

.menu .context-menu .menu-item:hover {
    -fx-background-color: #1F1F1F;
}

.menu-bar > .container > .menu:hover, .menu-bar > .container > .menu:showing {
    -fx-background-color: -fx-color-highlight;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-color-border;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab-pane:top > .tab-header-area > .headers-region {
    -fx-padding: 10 0 0 0;
}

.tab-pane:bottom > .tab-header-area > .headers-region {
    -fx-padding: 0 0 10 0;
}

.tab-pane:bottom >.tab-header-area > .headers-region > .tab {
    -fx-alignment: top_center;
}

.tab-pane .tab {
    -fx-background-color: -fx-color-widget;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: #363636 #363636 -fx-color-widget #363636;
    -fx-focus-color: invisible;
    -fx-padding: 1 25 3 25;
 }

.tab-pane .tab:selected {
    -fx-background-color: -fx-color-highlight;
}

.split-pane:top > .split-pane-divider {
    -fx-background-color: -fx-color-border;
    -fx-padding: 0 0 0 0.25em;
}

.tree-view {
    -fx-padding: 0;
    -fx-focus-color: -fx-color-input;
}

.tree-view .tree-cell {
    -fx-background-color: -fx-color-input;
    -fx-border-color: -fx-color-border;
}

#completion-pane {
    -fx-background-color: -fx-color-widget;
}

.titled-pane > .content {
    -fx-background-color: -fx-color-input;
    -fx-border-color: none;
}

.titled-pane > .title {
    -fx-background-color: -fx-color-widget;
}

.titled-pane > .title .arrow {
    -fx-background-color: white;
}

.drop {
    -fx-background-color: -fx-color-widget;
}

.drag-over {
    -fx-border-color: -fx-color-highlight;
}

.scroll-bar .track, .scroll-bar {
	-fx-background-color: #121212;
}

.scroll-bar .thumb {
	-fx-background-color: -fx-color-widget;
	-fx-background-radius: 0;
}

.check-box > .box {
    -fx-background-color: -fx-color-widget;
}

.check-box:checked > .box > .mark {
    -fx-background-color: -fx-color-text;
}

.statusbar {
    -fx-background-color: -fx-color-widget;
}

.progress-bar > .track {
    -fx-background-color: -fx-color-widget;
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 0;
}

.progress-bar > .bar {
    -fx-background-color: -fx-color-highlight;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
